@tailwind base;
@tailwind components;
@tailwind utilities;

.main-background {
  background-image: url("../images/background.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}